html,
body {
    scroll-behavior: smooth;
}

#content {
    gap: 10px;
    padding: 10px;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header';
    gap: 10px;
    padding: 10px;
    }

.main {
    justify-content: center;
}

.nav-link {
    justify-content: center ;
}

div {
    justify-content: center
}